    /* typography */

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14pt;
        color: #0f0f3d;
    }

    h1, h2 {
        font-family: 'Abril Fatface', cursive;
        color: #0f0f3d;
    }


    /* layout */

    /* media */